body {
  background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-repeat: repeat;
    background-attachment: fixed;
    color:white;
}
nav ul {
  display:flex;
  justify-content:center;
  padding-left:0px;
}

nav {
  background-color:lightgrey;
}

nav li {
  list-style-type: none;
  padding:0px 25px;
}

nav a{
  text-decoration:none;
}

nav a:hover {
  color:purple;
  text-decoration:underline;
  font-weight:bold;
  box-shadow:darkgrey;
}

img {
display:block;
margin:auto;
width:50%;
justify-content: center;
}

footer {
  display:flex;
  color:white;
padding:10px;
justify-content: center;
}
#insta:hover {
color:coral;
}
#wa:hover {
  color:green;
}
#snap:hover {
  color:gold;
}
#yt:hover {
  color:red;
}

footer ion-icon {
  width:35px;
  height:35px;
  padding:25px;
}