nav ul {
  display:flex;
  justify-content:center;
  padding-left:0px;
}

nav {
  background-color:lightgrey;
}

nav li {
  list-style-type: none;
  padding:0px 25px;
}

nav a{
  text-decoration:none;
}

nav a:hover {
  color:purple;
  text-decoration:underline;
  font-weight:bold;
  box-shadow:darkgrey;
}

img {
display:block;
margin:auto;
width:50%;
justify-content: center;
}

footer {
  color:blue;
padding:5px;
}
#insta:hover {
color:coral;
}
#wa:hover {
  color:green;
}
#snap:hover {
  color:gold;
}
#yt:hover {
  color:red;
}

footer ion-icon {
  width:25px;
  height:25px;
  padding:10px;
}