body {
    margin:auto;
    text-align: center;
    background-color: lightskyblue;
    padding-left:20%;
    padding-right:20%;
}

main {
    background-color:white;
    color:black;
    padding:5px;
    box-shadow: 6px 6px;
}

header {
    font-family: lobster, script;
}


