body {
    font-family:sans-serif;
    background: midnightblue;
    background-repeat:no-repeat;
    color: white;
    margin:0px;
  }
  header {
    color:white;
    padding:3px;
    text-align:center;
  }
  .header img {
    float:left;
    width:100px;
    padding:5px;
  }
  nav ul {
    display:flex;
    justify-content:center;
    padding-left:0px;
    color:white;
  }
  
  nav li {
    list-style-type: none;
    padding:0px 15px;
    color:white;
  }
  
  nav a {
    color:white;
    text-decoration:none;
  }
  
  nav a:hover {
    color:red;
    text-decoration:underline;
    font-weight:bold;
    box-shadow:darkgrey;
  }
.contact_card {
    justify-content: center;
    padding:25px;
}
.contact_card img {
  display: flex;
  max-width: 200px;
  border-radius:50%;
  float: center;
}