

body {
  font-family:sans-serif;
  background: midnightblue;
  background-repeat:no-repeat;
  color: white;
  margin:0px;
}

.image {
  width:50%;
  padding:5px;
}
.image img {
  width:100%;
  float:right;
}
.content{
  color:white;
  padding:15px;
  text-align:center;
}

.stuff {
  display:flex;
}

header {
  color:white;
  padding:3px;
  text-align:center;
}
.header img {
  float:left;
  width:100px;
  padding:5px;
}

nav ul {
  display:flex;
  justify-content:center;
  padding-left:0px;
  color:white;
}

nav li {
  list-style-type: none;
  padding:0px 15px;
  color:white;
}

nav a {
  color:white;
  text-decoration:none;
}

nav a:hover {
  color:red;
  text-decoration:underline;
  font-weight:bold;
  box-shadow:darkgrey;
}

@media (max-width:600px){
  .image {
    max-width:400px;
  }
@media (max-width:600px) {
  .about {
    flex-wrap:wrap;
    flex-direction:column;
  }
  .about_right {
    min-height: 420px;
  }

}
}
.about {
  display:flex;
}
.about_right, .about_left  {
  flex:1
}
.about_right {
  background-image: url("./assets/DR3dnf.jpg");
  background-size:145%;
  background-position:center;
  background-repeat: no-repeat;
  height:250px;
}